.scrollTop {
  position: fixed;
  bottom: 370px;
  right: 30px;
  background-color: #555;
  color: white;
  border: none;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 1000;
  transition: opacity 0.3s ease-in-out;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

  &:hover {
    background-color: #787878;
  }

  @media (max-width: 1317px) {
    bottom: 550px;
  }

  @media (max-width: 753px) {
    bottom: 720px;
  }
}
