.todo {
  // max-width: 1320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 100px;
  &__header {
    border-bottom: 2px solid #0d77ff;
  }
  &__header_crossed {
    font-size: 22px;
    color: #727272;
    text-decoration: line-through;
  }
  &__header_text {
    color: #727272;
  }
}
.steps {
  display: flex;
  justify-content: space-between;
  max-width: 1320px;
  margin: 0 auto;
  position: relative;
  padding: 40px 0;

  &::before {
    content: "";
    position: absolute;
    top: 75px;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #1f1f1f;
    z-index: 0;
  }
}

.step {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;

  &__circle {
    width: 72px;
    height: 72px;
    background-color: #f3f3f3;
    color: #1f1f1f;
    font-size: 42px;
    border: 1px solid #1f1f1f;
    font-weight: 500;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__text {
    margin-top: 12px;
    text-align: left;
    font-size: 14px;
    color: #1f1f1f;
    max-width: 315px;

    &_next {
      margin: 0;
      text-align: left;
      font-size: 14px;
      color: #727272;
      max-width: 315px;
    }
  }
}
.step:last-of-type {
  .step__circle {
    background-color: #0d77ff;
    color: #fff;
    border: #286df5;
  }
  align-items: center;
}
