.header {
  border-bottom: 1px solid #eaeaea;
  padding: 16px 0px;
  background-color: white;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
}

.nav {
  display: flex;
  gap: 24px;
}

.navLink {
  color: #1e1e1e;
  text-decoration: none;
  font-weight: 500;
  position: relative;
}

.dropdownArrow {
  font-size: 10px;
  margin-left: 4px;
}

.actions {
  display: flex;
  gap: 12px;
}

.loginBtn {
  font-size: 20px;
  padding: 15px 30px;
  border: 1px solid #1e1e1e;
  background: transparent;
  border-radius: 12px;
  color: #1e1e1e;
  text-decoration: none;
  font-weight: 400;
}

.signupBtn {
  font-size: 20px;
  padding: 15px 30px;
  border: none;
  background-color: #0d77ff;
  color: white;
  border-radius: 12px;
  text-decoration: none;
  font-weight: 400;
}
