.container {
  width: 100%;

  @media (max-width: 1200px) {
    padding: 0 15px; // Меньше отступов для экрана с шириной менее 1200px
  }

  @media (max-width: 768px) {
    padding: 0 12px; // Еще меньше отступов для мобильных
  }
}
